@model crud_operation.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Employee Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Designation</dt>
        <dd class="col-sm-10">@Model.Designation</dd>

        <dt class="col-sm-2">Department</dt>
        <dd class="col-sm-10">@Model.Department</dd>

        <dt class="col-sm-2">Salary</dt>
        <dd class="col-sm-10">@Model.Salary</dd>

        <!-- Display Resume if it exists -->
        @if (!string.IsNullOrEmpty(Model.ResumePath))
        {
            <dt class="col-sm-2">Resume</dt>
            <dd class="col-sm-10">
                <a href="@Url.Content("~/" + Model.ResumePath)" download>Download Resume</a>
            </dd>
        }
    </dl>

    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Edit</a>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</div>
